{% extends "base.html" %}
{% block content %}
<div ng-app="App">
	<div ng-controller="ctrl">
	<div id="progressbar"></div>
		<div ng-show="path == '/question1'">
			<h1>Q1) What Kind of Diet Restrictions Do You Have?</h1>
			<div class="radio"><label><input type="radio" ng-model="setup.diet" value="0">Regular</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.diet" value="1">Vegetarian</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.diet" value="2">Vegan</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.diet" value="3">Kosher</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.diet" value="4">Halal</label></div>
			<button class="btn btn-primary" ng-click="goBack()">Previous</button>
			<button class="btn btn-primary" ng-click="goNext()">Next</button>
		</div>
	
		<div ng-show="path == '/question2'">
			<h1>Q2) How important for you is it to eat healthy?</h1>
			<div class="radio"><label><input type="radio" ng-model="setup.health" value="0">Not Important</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.health" value="1">Slightly Important</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.health" value="2">Very Important</label></div>
			<button class="btn btn-primary" ng-click="goBack()">Previous</button>
			<button class="btn btn-primary" ng-click="goNext()" id="next2">Next</button>
		</div>
		
		<div ng-show="path == '/question3'">
			<h1>Q3) How important is price for your food?</h1>
			<div class="radio"><label><input type="radio" ng-model="setup.price" value="0">Not Important</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.price" value="1">Slightly Important</label></div>
			<div class="radio"><label><input type="radio" ng-model="setup.price" value="2">Very Important</label></div>
			<button class="btn btn-primary" ng-click="goBack()">Previous</button>
			<button class="btn btn-primary" id="save">Save</button>
		</div>
	</div>
</div>
{% endblock %}

{% block additional_js %}
<script>

	angular.module('App', ['ngRoute'])
	
	.config(function($interpolateProvider, $routeProvider) {
		$interpolateProvider.startSymbol('{[{');
		$interpolateProvider.endSymbol('}]}');
		
		$routeProvider.
		  when('/question1', {
		    templateUrl: '/',
		    controller: 'ctrl'
		  }).
		  when('/question2', {
		    templateUrl: '/',
		    controller: 'ctrl'
		  }).
		  when('/question3', {
		    templateUrl: '/',
		    controller: 'ctrl'
		  });
		
		  $routeProvider.otherwise({
		    redirectTo: '/question1'
		  });
	})

	.controller('ctrl', function ($rootScope, $scope, NextBackBasicService, $location) {
		$scope.setup = [
			{'diet': '',
			 'health': '',
			 'price': '',
			},
		];

	 	$rootScope.$on('$routeChangeSuccess', function(e, current, pre) {
		    console.log('Current route name: ' + $location.path());
			$scope.path = $location.path();
			 console.log($scope.path);
			 if($scope.path == "/question1"){
				 $("#progressbar").progressbar({ value: 33 });
			 }else if ($scope.path == "/question2"){
				 $("#progressbar").progressbar({ value: 66 });
			 }else if($scope.path == "/question3"){
				 $("#progressbar").progressbar({ value: 100 });
			 }
		});
	})
		
	.run(function($rootScope, NextBackBasicService){
		  $rootScope.goNext = function() {
		    NextBackBasicService.goNext();
		  };
		  
		  $rootScope.goBack = function() {
		    NextBackBasicService.goBack();
		  };	
	})

	.factory('NextBackBasicService', function($route, $location) {
	  //array for keeping defined routes
	  var routes = [];

	  angular.forEach($route.routes, function(config, route) {
	    //not to add same route twice
	    if (angular.isUndefined(config.redirectTo)) {
	      routes.push(route);
	    }
	  });

	  return {
	    goNext: function() {
	      var nextIndex = routes.indexOf($location.path()) + 1;
	      if (nextIndex === routes.length) {
	        $location.path(routes[0]);
	      } else {
	        $location.path(routes[nextIndex]);
	      }
	    },
	    goBack: function() {
	      var backIndex = routes.indexOf($location.path()) - 1;
	      if (backIndex === -1) {
	        $location.path(routes[routes.length - 1]);
	      } else {
	        $location.path(routes[backIndex]);
	      }
	    }
	  };

	});
</script>
{% endblock %}	